/*------------------------------------*\
    Base
\*------------------------------------*/
*{
box-sizing: border-box;
position:relative;
/*border: 1px solid #000;*/
}

html,body{
height:100%;
width:100%;
font-family:"微軟正黑體", Arial ;
letter-spacing: 0.1em;
color: #484848;

}

h1,h2,h3,h4,h5,h6,p{
/*預設瀏覽器會有margin:10px要先歸零*/
margin:0px;
padding:0px;
}
h1{
	font-size: 40px;
	line-height: 32px;
}
h2{
	font-size: 32px;
	line-height: 32px;
}
h3{
	font-size: 24px;
	line-height: 32px;
}
h4{
	font-size: 20px;
	line-height: 32px;
}
h5{
	font-size: 16px;
	line-height: 24px;
}
h6{
	font-size: 12px;
	line-height: 24px;
}

p{
	font-size: 8px;
	line-height: 24px;
}

ul{
list-style: none;
margin: 0;
padding: 0;
}

a{
text-decoration: none;
}


/*------------------------------------*\
    Layout
\*------------------------------------*/
.web-hidden{
		display: none;
		opacity: 0;
		visibility: hidden;
	}

@media (max-width: 1024px) {
	.mobile-hidden{
		display: none;
		opacity: 0;
		visibility: hidden;
	}
	.web-hidden{
		display: block;
		opacity: 1;
		visibility: visible;
	}
}
.wrapper{
height:100%;
}

.clearfix{
display: block;
clear: both;
height: 0px;
visibility: hidden;
}


/* hero */
.hero{
	padding: 32px 0;
}

/* container */
.container{
	max-width: 90%;
	margin: 0 auto;
	padding: 0 16px;
}

.container:after{
	content: "";
	display: block;
	clear: both;
}
.row{
	margin: 0 -16px;
}
.row:after{
	content: "";
	display: block;
	clear: both;
}
.col-lg-6,.col-lg-4,.col-lg-3{
	float: left;
	padding: 0 16px;
}
.col-lg-6{
	width: 50%;
}
.col-lg-4{
	width: 33.33333%;
}
.col-lg-3{
	width: 25%;
}


@media (max-width: 1024px) {
	.col-m-12{
	width: 100%;
	}
}

.item-white{
	color: #f5f5f5;
	font-size: 14px;
	transition-property: color;
	transition-duration: 1s,3s;
	transition-delay: 1s,5s;
	transition-timing-function:cubic-bezier(.17,.67,.83,.67);
	transition: all 0.4s;
}


.item-white:hover{
	color:#ffaa00; 

}
.item-white:active{
	color: #fff;
}


.item-gray{
	color: #484848;
	font-size: 14px;
	transition-property: color;
	transition-duration: 1s,3s;
	transition-delay: 1s,5s;
	transition-timing-function:cubic-bezier(.17,.67,.83,.67);
	transition: all 0.4s;
}

.item-gray:hover{
	color:#ffaa00; 

}
.item-gray:active{
	color: #fff;
}

.dropdown-content {
	display: none;
	position: absolute;
	width: 160px;
	padding-top: 8px;
}

.dropdown-content .item{
    margin-top: 8px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* mask */
.mask:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
/*------------------------------------*\
    sidebar_left & sidebar_right
\*------------------------------------*/

/*sidebar_left*/
.sidebar_left{
	position: fixed;
	top: 16px;
	left: 40px;
	z-index: 100;
}

.logo{
	display:inline-block;
	/*vertical-align: top;*/
	width:150px;
	height: 52.5px;
	background-image: url(../image/protfolio-gray@1x.png);
	background-position: center;
	/*撐滿容器*/
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	/*文字溢出*/
	text-indent: 100%;
	/*不換行*/
	white-space: nowrap;
	/*超出隱藏*/
	overflow: hidden;
	transition: all 0.3s;
}


/*sidebar_right*/
.sidebar_right{
	position: fixed;
	top: 16px;
	right: 40px;
	z-index: 100;
}

.intro{
	text-align: right;
}

.intro-item{
	margin: 16px 0;
}

.intro-item:first-child{
	margin-top: 16px;
	text-align: right;
}


.lilicoco{
	background-color: #484848;
	width: 60px;
	padding: 4px 8px;
	border-radius: 4px;
	cursor: pointer;
}

.name{
	display: inline-block;
	background-color: #484848;
	color: #fff;
	width: 220px;
	height: 28px;
	line-height: 24px;
	overflow: hidden;
	padding: 2px 8px;
	border-radius: 4px;
	transition-property: height,border-radius;
	transition-duration: 1s,3s;
	transition-delay: 1s,5s;
	transition-timing-function:cubic-bezier(.17,.67,.83,.67);
	transition: all 0.3s;
}
.name:hover{
	background-color:#888; 
	height: 180px;
	border-radius: 10px;

}
.name:active{
	background-color: #ffaa00;
}


.mail{
	padding: 0px 8px 0px 4px;
}

.mail-icon{
	font-family: 'fontawesome';
	padding-right: 4px;
}

.age{
	font-size: 150px;
	color: #484848;
	padding: 0px 8px;
}

.age.active{
	display: none;
}


/*------------------------------------*\
	jumbotron
\*------------------------------------*/

.main{
	overflow: hidden;
}

@media (max-width: 1024px) {
	.main .jumbotron{
		padding-top: 100px;
	}
}

/*header*/
.header{
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 100;
}
.header.active{
	display: none;
}

.mobile-header{
	width: 100%;
	height: 100px;
	position: fixed;
	z-index: 100;
	background-color: #f5f5f5;
	text-align: center;
}

.mobile-header .logo{
	display:inline-block;
	/*vertical-align: top;*/
	width:150px;
	height: 52.5px;
	background-image: url(../image/protfolio-gray@1x.png);
	background-position: center;
	/*撐滿容器*/
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	/*文字溢出*/
	text-indent: 100%;
	/*不換行*/
	white-space: nowrap;
	/*超出隱藏*/
	overflow: hidden;
	transition: all 0.3s;
}

.mobile-header hr{
	margin: 0;
}

/*menu*/
.menu{
	display: flex;
	justify-content: center;
}
.menu .menu-item {
	padding: 0 16px;
	margin-top: 32px;
	width: 160px;
}

@media (max-width: 1024px) {
	.menu .menu-item {
	padding: 0 16px;
	margin-top: 8px;
	width: 160px;
	}
	.dropdown:target .dropdown-content {
    display: block;
	}
}

/*------------------------------------*\
    圖片框
\*------------------------------------*/

/* image-container */
.image-container{
	width: 100%;
	display: block;
}

.image-container:before{
	content: "";
	display: block;
	width: 100%;
	padding-top: 100%;
}

.image-container .image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


/* slider-image */
.slider-container{
	width: 100%;
	display: block;
}

.slider-container:before{
	content: "";
	display: block;
	width: 100%;
	/*圖片1920x787px 網頁圖片寬width100% padding-top=787/1920=0.40 也就是40%*/
	padding-top: 56%;
}

.slider-container .image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* banner1-image-container */
.banner1-image-container{
	width: 100%;
	display: block;
}

.banner1-image-container:before{
	content: "";
	display: block;
	width: 100%;
	padding-top: 56%;
}

.banner1-image-container .image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* banner2-image-container */
.banner2-image-container{
	width: 100%;
	display: block;
}

.banner2-image-container:before{
	content: "";
	display: block;
	width: 100%;
	padding-top: 150%;
}

.banner2-image-container .image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


/*------------------------------------*\
	protfolio-intro
\*------------------------------------*/

.protfolio-intro-container{
	background-image: url(../image/P04/FBIG.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;
	background-attachment: fixed;
	padding:100px 0;
}

.protfolio-intro-container .title{
	text-align: center;
	font-size: 16px;
	color: #f5f5f5;
	line-height: 32px;
}




.protfolio{
	box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
	background-color: #fff;
	padding:8px 16px;
	margin-top: 32px;
}




/*banner*/
.banner{
	margin: 60px 0;
}

.banner-text{
	text-align: center;
	padding: 32px 0;
}

.banner-text .title{
	padding:  4px 0;
}

.banner-text hr{
	width: 100px;
}

.banner-text .description{
	line-height: 16px;
	padding:  4px 0;
}


/*footer*/
.footer{
	background-color: #484848;
}
.copyright{
	letter-spacing: 0px;
	text-align: center;
	height: 40px;
}
.copyright p{
	color: #fff;
	line-height: 40px;
}

.copyright-link{
	color: #ffaa00;
}

.copyright-link:hover{
	color: #fff;
}



/*------------------------------------*\
    Plugins
\*------------------------------------*/
/*owl-carousel slider*/
.owl-theme.slider .owl-dots{
	text-align: center;
	margin-top: -40px;
}
.owl-theme.slider .owl-dots .owl-dot{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ccc;
	margin: 0 4px;
	outline: none;
}
.owl-theme.slider .owl-dots .owl-dot.active{
	background-color: #484848;
}
.owl-theme.slider .owl-nav{
	position: absolute;
	/*寬度撐開 按鈕才不會擠在一起*/
	width: 100%;
	/*運算 106px = 標題+內文  20px = 按鈕一半的高度*/
	top: calc((100% - 106px) / 2 - 20px);

}
.owl-theme.slider .owl-nav button.owl-prev,
.owl-theme.slider .owl-nav button.owl-next{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0);
	outline: none;
	color: #fff;
	font-size: 60px;
	box-shadow: 0 3px 5px rgba(0,0,0,0);
}

.owl-theme.slider .owl-nav button.owl-prev{
	position: absolute;
	left: 20px;
	/*top: 20px;*/
}
.owl-theme.slider .owl-nav button.owl-next{
	position: absolute;
	right: 20px;
	/*top: 20px;*/
}

@media (max-width: 1024px) {
	/*owl-carousel slider*/
	.owl-theme.slider .owl-dots{
		display: none;
	}
	.owl-theme.slider .owl-dots .owl-dot{
		display: none;
	}
	.owl-theme.slider .owl-dots .owl-dot.active{
		display: none;
	}
	.owl-theme.slider .owl-nav{
		display: none;

	}
	.owl-theme.slider .owl-nav button.owl-prev,
	.owl-theme.slider .owl-nav button.owl-next{
		display: none;
	}

	.owl-theme.slider .owl-nav button.owl-prev{
		display: none;
	}
	.owl-theme.slider .owl-nav button.owl-next{
		display: none;
	}
}

/*owl-carousel*/
.owl-theme .owl-dots{
	text-align: center;
	margin-top: 20px;
}
.owl-theme .owl-dots .owl-dot{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #ccc;
	margin: 0 4px;
	outline: none;
}
.owl-theme .owl-dots .owl-dot.active{
	background-color: #484848;
}
.owl-theme .owl-nav{
	position: absolute;
	/*寬度撐開 按鈕才不會擠在一起*/
	width: 100%;
	/*運算 106px = 標題+內文  20px = 按鈕一半的高度*/
	top: calc((100% - 106px) / 2 - 20px);
}
.owl-theme .owl-nav button.owl-prev,
.owl-theme .owl-nav button.owl-next{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #484848;
	outline: none;
	color: #fff;
	font-size: 24px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.5);
}

.owl-theme .owl-nav button.owl-prev{
	position: absolute;
	left: -20px;
}
.owl-theme .owl-nav button.owl-next{
	position: absolute;
	right: -20px;
}





/*燈箱bug*/
.fancybox-navigation button{
	position: fixed;
}


/*視差滾動rellax*/

.rellax{
	position: absolute;
	z-index: 20;
}

@media (max-width: 1024px) {
	.rellax{
		display: none;
	}	
}

.para-001{
	width: 20%;
	left: -100px;
	bottom: -20%;
	
}