/*輪播*/
.slider-box{ display:flex; flex-direction:column-reverse; }
.slider-for{ width:100%; margin:0 auto; }
.slider-for .slick-list{ /*width:100%;*/ width:60%; margin:0 auto; }
/*.slider-nav .slick-dots{ bottom:0; }*/
.slider-nav .slick-dots li button:before ,
.slick-dots li.slick-active button:before{ color:#f2e825; opacity:1;}
.slider-nav .slick-dots li button:after{ content:''; background:#f2e825; display:block; width:30px; height:2px; position:absolute; right:3px; /* z-index:-1; */ } 
.slider-nav .slick-dots li:nth-of-type(1) button:after{ display:none; }
.slider-nav .slick-dots li.slick-active ~ li button:before{ color:#58c0ec; background:#58c0ec; opacity:1; }
.slider-nav .slick-dots li.slick-active ~ li button:after{ background:#58c0ec; }
/* .slider-nav .slick-dots li.slick-active { color:#58c0ec;  } */

.buy .buy-box .buy-slider-for .slick-list{ max-width:270px;  }
.buy .slider-box .slider-nav .slick-slide h4 span{ /* position:absolute; */ font-size:inherit; left:28px; transform-origin:left center; transition:all .5s cubic-bezier(.74,1.58,.67,.89); opacity:.5;}
.buy .slider-box .slider-nav .slick-slide.slick-current h4 span ,.buy .slider-box .slider-nav .slick-slide:hover h4 span{ font-size:1.1em; opacity:1;}

.slider-nav .slick-slide{ cursor:pointer; }
.slider-nav .slick-slide h4{ position:relative; padding:1em 0 0 0; }
.slick-prev ,.slick-next{ width:1em; height:1em; font-size:4rem; }
.slick-prev{ left:0; }
.slick-prev:before ,.slick-next:before{ font-size:inherit; opacity:1; }
.slick-prev:before{ content:'\e909'; font-family:'icomoon'; }
.slick-next{ right:0; }
.slick-next:before{ content:'\e910'; font-family:'icomoon'; }
.slick-prev.slick-disabled:before ,.slick-next.slick-disabled:before{ opacity:0; }

.slider-b .slick-prev:before, .slider-b .slick-next:before{color:#1e9dd2;}


.multiple-items .slick-slide h4{ color:#fff; position:relative; padding:.8em 0; }
.multiple-items .slick-slide img{ margin:0 auto; }
.multiple-items .slick-dots button:before{ color:#58c0ec; opacity:1;}
.multiple-items .slick-list{ z-index:1; }
.multiple-items button{ z-index:2; }

.slick-dots li{ width:12px; height:12px; margin:0 10px;}
.slick-dots li button{ width:auto; height:auto; }
.slick-dots li button:before{ font-size:0; width:100%; height:100%; border-radius:50%; }
.slider-nav .slick-dots li button:before ,.slick-dots li.slick-active button:before{ background:#f2e825; }


/* Tabs */
.bg-1{
  position: absolute;
  top:30%;
  left: 80%;
  z-index: -1;
}
.bg-2{
  position: absolute;
  top:10%;
  left: 10%;
  z-index: -1;
}
.step{
  margin: 24px 0;

}
.tabs {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #05b4ee;
   z-index: 1;
   padding-bottom: 60px;
}

.tabs label {
  -webkit-box-ordinal-group: 2;
          order: 1;
  display: block;
  padding: 1rem 2rem;
  margin: 3rem 1rem;
  cursor: pointer;
  background: #fff;
  border-radius: 50px;
  border: 1px solid #1e9dd2;
  color: #1e9dd2;
  box-shadow: 6px 6px 0 #f2e400;
  font-size: 2.4em;
  font-weight: bold;
  -webkit-transition: background ease 0.2s;
  transition: background ease 0.2s;
}

.tabs .tab {
  -webkit-box-ordinal-group: 100;
          order: 99;
  -webkit-box-flex: 1;
          flex-grow: 1;
  width: 100%;

  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.tabs input[type="radio"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.tabs input[type="radio"]:checked + label {
  background: #f18b27;  
  border-radius: 50px;
  border: 1px solid #fff;
  color: #fff;
  box-shadow: 6px 6px 0 #f2e400;
}

.tabs input[type="radio"]:checked + label + .tab {
  opacity: 1;
  position: relative;
  pointer-events: auto;
 
}



.white-box{
  background-color: #fff;
  display: inline-block;
  border-radius: 40px;
  /* margin: 0 24px 24px 24px;  */
  padding:0 40px 64px 40px;
}
.white-box:before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 40px;
  border: 1px solid #fff;
  top: 8px;
  left: 8px;
  z-index: 0;
}


/* .buy{ padding:95px 0 150px; } */
.buy .slider-box{ flex-direction:row; align-items:center;}
.buy .buy-box .buy-slider-nav{ width:64%; }
.buy .buy-box .buy-slider-for{ width:36%; padding:0px;}
.buy .buy-box .buy-slider-for .slick-list{ margin:0 auto; }
.buy .slider-box .slider-nav .slick-slide{ text-align:left; }
.buy .slider-box .slider-nav .slick-slide h4:before ,.buy .slider-box .slider-nav .slick-slide h4:after{ content:''; display:inline-block; transition:all .6s; }
.buy .slider-box .slider-nav .slick-slide h4:before{ width:16px; height:16px; border-radius:50%; background:#f2e825; margin-right:10px; z-index:1; position:relative; }
.buy .slider-box .slider-nav .slick-slide h4:after{ position:absolute; width:2px; height:2.4em; background:#f2e825; z-index:0; left:7px; bottom:.5em; z-index:0; }
.buy .slider-box .slider-nav .slick-slide:nth-of-type(1) h4:after{ display:none; }
.buy .slider-box .slider-nav .slick-slide.slick-current ~ .slick-slide h4:before,
.buy .slider-box .slider-nav .slick-slide.slick-current ~ .slick-slide h4:after{ background:#58c0ec; }
.buy-online .slider-box .slider-nav .slick-slide .buy-list4 h4,
.buy-online .slider-box .slider-nav .slick-slide.slick-current ~ .slick-slide .buy-list4 h4,
.buy-online .slider-box .slider-nav .slick-slide .buy-list6 h4,
.buy-online .slider-box .slider-nav .slick-slide.slick-current ~ .slick-slide .buy-list6 h4{
  padding: 2em 0 0 0;
}

.buy-online .slider-box .slider-nav .slick-slide .buy-list4 h4:after,
.buy-online .slider-box .slider-nav .slick-slide .buy-list6 h4:after{
  height: 3em;
  bottom: 1em;
}
.buy-online .group .slider-for{ max-width:390px; }



/* $iPad pro
--------------------------------------------------------------------------------------*/
@media screen and (min-width:1024px) and (max-width:1365px){
.group-list{ flex-direction:column; }

.video ,.buy ,.exchange ,.give ,.offers ,.faq ,.rights{ padding-bottom:40px;}
.video .video-box{ padding-bottom:0; }
.exchange .group{ margin:0 auto 70px; max-width:75%; }

.offers .group-list{ flex-direction:row; }


/* .app-content{
  min-height: 1400px;
} */

/* .slider-box{ 
  width: 60%;
  display: block;
}
.slider-for{
  width: 70%;
  margin: 0 auto;
}
.bg-color{
  width: 100%;
  padding-top: 200px;
  margin: -160px auto 0 auto;
}
.slider-nav{
  padding: 0 16px 0 24px;
} */


}

/* $iPad
--------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1023px){

/* .app-content{
  min-height: 1300px;
}
 */

/* .tabs label{
  width: 280px;
}
.tabs input[type="radio"]:checked + label:before,
.tabs input[type="radio"]:checked + label:after{
  width: 56px;
} */
/* 
.slider-box{ 
  width: 60%;
  display: block;
}

.slider-for{
  width: 60%;
  margin: 0 auto;
}
.bg-color{
  width: 100%;
  padding-top: 200px;
  margin: -160px auto 0 auto;
}
.slider-nav{
  padding: 0 16px 0 24px;
}

.slider-nav{
  padding: 0 24px;
} */

}


/* $Mobile
--------------------------------------------------------------------------------------*/
@media screen and (max-width:767px){
 /* .container{ width: 340px; padding:0;} */

/* tab */
.bg-1{
  position: absolute;
  top:50%;
  bottom: 0;
  left: 60%;
  z-index: -1;
}
.bg-2{
  position: absolute;
  top:50%;
  left: 5%;
  z-index: -1;
}
.tabs{
  padding: 0 0 24px 0;
}
.tabs label {
  font-size: 1.5em;
  margin: .4em ;
}
.white-box{
    margin: 24px 0;
    padding: 0 0 40px 0;
}
.white-box:before{
  top: 4px;
  left: 4px;

}

.slider-nav .slick-slide h4 {
    position: relative;
    padding: 1em 0 0 0;
    width: 90%;
    margin: 0 auto;
    font-size:1.6rem;
}
.slider-for .slick-list{
  width: 50%;
}
.buy .titleA{ margin-bottom:30px; }
.buy .slider-box{ flex-direction:column-reverse; }
.buy .buy-box .buy-slider-for{ width:100%; margin:0 auto; }
.buy .buy-box .buy-slider-nav{ width:100%; }
.buy .slider-box .slider-nav .slick-slide{ text-align:center; }
.buy .slider-box .slider-nav .slick-slide h4:before ,.buy .slider-box .slider-nav .slick-slide h4:after{ display:none; }


/* .app-content{
  min-height: 1200px;
  margin-top: 100px;
}

.tabs .tab{
  width: 100%;
  margin: 0 auto;
  top: 100%;
}
.app-tab{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tabs label{
  width: calc(100%/2 - 8px);
}
.tabs input[type="radio"]:checked + label:before,
.tabs input[type="radio"]:checked + label:after{
  width: 16px;
  top: 12px;
} */
/* .app-title{
  display: none;
}
.app-name{
  margin-bottom: 8px;
} */

/* .slider-box{ 
  width: 100%;
  display: block;
  margin-top:24px; 
}

.slider-for{
  width: 60%;
  margin: 0 auto;
}
.bg-color{
  width: 100%;
  padding-top: 200px;
  margin: -160px auto 0 auto;
}
.slider-nav{
  padding: 0 16px;
}
.slider-nav .slick-track{
  width: auto!important;
}

.slider-nav .slick-slide .step{
  margin-top: -24px;
  padding: 0 0 12px 24px;
  width: 100%;
  font-size: 14px;
} */


}




