/* ---------- page kv ---------- */
.kv-bg{
    width: 100%;
    padding-top: 33%;
    position: relative;
    margin-top: 80px;
}
.kv-mk{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-55%, -50%);
}
.kv-mk img{
    width: 100%;
    margin: 0 auto;
}
/* ---------- end page kv ---------- */


/* ---------- 色彩規範 ---------- */
.row-color{ 
	display: flex; 
	justify-content: center; 
}
.circle{
	max-width: 40px;
    height: 40px;
	border-radius: 50px;
	padding: 50px;
	margin: 8px;
}
/* ---------- end 色彩規範 ---------- */

/* ---------- web page排版共用 ---------- */


.num-bold{
	font-weight:bold;
	font-size:1.4em;
}
.num-circle{
	max-width: 280px;
	width: 100%;
    height: 280px;
	border-radius: 280px;
	margin: 8px;
	padding: 60px 0;
}


.pic-png{
	filter:drop-shadow(2px 2px 2px  rgba(0,0,0,0.2));
}
.pic-jpg{
	box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
	border-radius: 8px;
}

.icon img{
	width: 30%;
}
.block-1{
	border: 4px solid #79C9FF;
	border-radius: 20px;
	padding: 20px;
	margin-top: 20px;
/* 	height: 100%; */
}
.block-2{
	border: 4px solid #A5DBFF;
	border-radius: 20px;
	padding: 20px;
	margin-top: 20px;
/* 	height: 100%; */
}
.block-3{
	border: 4px solid #CFEEFF;
	border-radius: 20px;
	padding: 20px;
	margin-top: 20px;
/* 	height: 100%; */
}
.block-1 p,.block-2 p,.block-3 p{
	padding: 0;
}

.col-2 ul li{
	list-style-type: disc;
	font-size: 1.6em;
    line-height: 1.6em;
    margin-left: 1.4em;
}
.col-3 ul li{
	list-style-type: decimal;
	font-size: 1.6em;
    line-height: 1.6em;
    margin-left: 1.4em;
}


.slick-initialized .slick-slide{
	display: flex;
	align-items: center;
}
.slick-prev:before, .slick-next:before{
	color: #707070;
	font-family: "Font Awesome 6 Free";
}
.slick-next:before{
	content: '\f105';
}
.slick-prev:before{
	content: '\f104';
}


.slick-dots li.slick-active button:before{
	color: #0078C8;
	opacity: 1;
}
.slick-dots li button:before{
	font-size: 8px;
}


/* ---------- end web page排版共用 ---------- */

/* ---------- 連結網站 ---------- */
.link{
	text-align: center;
	font-size: 2.4em;
	
}
.link a{
	position: relative;
	display: inline-block;
	padding: 15px 30px;
}

.link a:before{
	content: '';
	position: absolute;
	top: 6px;
	left: -2px;
	width: calc(100% + 4px);
	height: calc(100% - 12px);
	transition: all .5s ease-in-out;
	transform: 0.5s ease-in-out;
	transform: scaleY(1);
	transition-delay: 0.2s;
}
.link a:hover:before{
	transform: scaleY(0);
}


.link a:after{
	content: '';
	position: absolute;
	left: 6px;
	top: -2px;
	height: calc(100% + 4px);
	width: calc(100% - 12px);
	transition: all .5s ease-in-out;
	transform: 0.5s ease-in-out;
	transform: scaleX(1);
}
.link a:hover:after{
	transform: scaleX(0);
}

.link a span{position: relative; z-index: 1;}

/* ---------- end 連結網站 ---------- */

/* $iPad pro
--------------------------------------------------------------------------------------*/
@media screen and (min-width:1024px) and (max-width:1365px){

/* ---------- page kv ---------- */
.kv-bg{
    width: 100%;
    padding-top: 56%;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    margin-top: 80px;
}

.kv-mk{
    width: 80%;
}

/* ---------- end page kv ---------- */

/* ---------- 色彩規範 ---------- */
.circle{
	max-width: 32px;
    height: 32px;
	border-radius: 50px;
	padding: 32px;
	margin: 4px;
}
/* ---------- end 色彩規範 ---------- */

.num-circle{
	max-width: 280px;
	width: 100%;
    height: 280px;
	border-radius: 280px;
	margin: 8px;
	padding: 56px 0;
}



}

/* $iPad
--------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1023px){

/* ---------- page kv ---------- */
.kv-bg{
    width: 100%;
    padding-top: 56%;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    margin-top: 80px;
}

.kv-mk{
    width: 80%;
}

/* ---------- end page kv ---------- */


/* ---------- 色彩規範 ---------- */
.circle{
	max-width: 28px;
    height: 28px;
	border-radius: 50px;
	padding: 28px;
	margin: 4px;
}
/* ---------- end 色彩規範 ---------- */


/* ---------- web page排版共用 ---------- */
.row-center{ flex-wrap: wrap;}
.pic .col-2{
	width: calc(100%/2 - 4px);
}

.pic .col-4{
	width: calc(100%/2 - 24px);
}

/* ---------- end web page排版共用 ---------- */



}


/* $Mobile
--------------------------------------------------------------------------------------*/
@media screen and (max-width:767px){

/* ---------- page kv ---------- */
.kv-bg{
    width: 100%;
    padding-top: 56%;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    margin-top: 64px;
}

.kv-mk{
    width: 80%;
}

.intro{
	padding: 24px 0;
}

/* ---------- end page kv ---------- */


/* ---------- 色彩規範 ---------- */
.circle{
	max-width: 28px;
    height: 28px;
	border-radius: 50px;
	padding: 28px;
	margin: 4px;
}
.num-circle{
	max-width: 200px;
	width: 100%;
    height: 200px;
	border-radius: 200px;
	margin: 8px;
	padding: 44px 0;
}
/* ---------- end 色彩規範 ---------- */


/* ---------- web page排版共用 ---------- */

.row-center{ flex-wrap: wrap;}

.pic .col-2{
	width: calc(100%/2 - 4px);
}
.pic .col-4{
	width: calc(100%/2 - 24px);
}
.col-3.block-1{
	border: 2px solid #79C9FF;
	border-radius: 16px;
	padding: 8px;
	margin-bottom: 8px;
}
.col-3.block-2{
	border: 2px solid #A5DBFF;
	border-radius: 16px;
	padding: 8px;
	margin-bottom: 8px;
}
.col-3.block-3{
	border: 2px solid #CFEEFF;
	border-radius: 16px;
	padding: 8px;
}

.col-2 ul li{
	list-style-type: disc;
	font-size: 0.8em;
    line-height: 1.6em;
    margin-left: 1.4em;
}

.col-3 ul li{
	list-style-type: decimal;
	font-size: 0.8em;
    line-height: 1.6em;
    margin-left: 1.4em;
}



/* ---------- end web page排版共用 ---------- */

/* ---------- 連結網站 ---------- */

.link{
	text-align: center;
	font-size: 1em;
	margin-bottom: 40px;
}
.link a{
	padding: 8px 16px;
}
.link a:before{
	content: '';
	display: none;
}
.link a:hover:before{
	content: '';
	display: none;
}


.link a:after{
	content: '';
	display: none;
}
.link a:hover:after{
	content: '';
	display: none;
}

/* ---------- end 連結網站 ---------- */


}








